* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(2, 63, 92);
}

/* Container 1 */
.nama {
    margin-top: 70px;
}

.nama p {
    color: #bed6e6;
    letter-spacing: -2px;
    line-height: 46px;
    text-shadow: 1px 1px 1px #000000;
    margin: 15px 0px 0px 30px;
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
}

.nama span {
    line-height: 30px;
    color: #e0eaf0;
    letter-spacing: -1px;
    margin-left: 5px;
    font-size: 20px;
    font-family: 'Calligraffitti', cursive;
}

.nama img {
    width: 40px;
    margin-top: -20px;
}

.navbar {
    width: 100%;
    height: 100px;
    /* fallback */
    background-color: #14649b;
    background-repeat: repeat-x;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#14649b), to(#1174b2));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #14649b, #1174b2);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #14649b, #1174b2);
    /* IE 10 */
    background: -ms-linear-gradient(top, #14649b, #1174b2);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #14649b, #1174b2);
    border: 1px solid #448abb;
}

/* Deskripsi */
.about {
    background: linear-gradient(#14649b, rgb(152, 186, 236));
    margin-top: 180px;
}

.about img {
    width: 60%;
    margin-left: 20%;
    border-radius: 10%;
}

.about .gambar {
    margin: 50px auto;
}

.col-lg-6 p {
    margin: 20px auto;
}

.bucin {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: small;
    color: #e0eaf0;
    margin-top: 20px;
}

.promo {
    font-family: Viga;
    font-size: small;
}

.product {
    background-color: aliceblue;
}

/* Galery */
.card img {
    padding: 10px;
}

.bgprod {
    background: linear-gradient(rgb(152, 186, 236), #14649b);
}

.product .col-lg-6 {
    display: flex;
    padding: 10px;
    text-align: center;
}

.galery img {
    width: 100%;
}

.bgfoot {
    background-color: #14649b;
}

.footer {
    padding: 15px;
    color: aliceblue;
}